body {
    background: url(AssetViewer/AssetViewer/Resources/bgr_playercreation_0.png) no-repeat fixed center / cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: grid;
    margin: 10px;
}

select {
    padding: 3px;
    width: 150px;
}

.groupbox {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
}


.filters div select {
    padding: 3px;
    width: 100%;
}

.filters div > input {
    padding: 3px;
    margin: 0;
}

.advancedFilters {
    display: grid;
    grid-template-columns: 15px 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
}

.itemList {
    overflow: hidden scroll;
    max-height: 800px;
}

li:hover {
    background:rgba(255, 255, 228, 0.678);
    cursor: pointer;
}

.itemview {
    position: relative;
    max-height: 800px;
    width: 400px;
    padding: 0;
}

.legendary {
    background: linear-gradient(rgba(255, 85, 70, 0.157) 0%, rgb(42, 44, 39) 20%)
}

.itemcard-information hr {
    position: absolute;
    left: 0; right: 0;

    width: unset;
    margin: 0 !important;
}

.itemcard-head {
    display: grid;
    grid-template-columns: 90px 1fr;
    margin: 10px;
    color: rgba(255, 255, 228, 0.378);
}

.itemcard-body {
    display: block;
}

.itemcard-information {
    display: block;
    color: rgba(255, 255, 228, 0.378);
    border-top: 1px solid rgba(255, 255, 228, 0.378);
    padding: 10px;
}

.itemcard-information :first-child {
    margin-right: 10px;
}

.itemcard-information * {
    margin-right: 0.25rem;
    
}

.itemcard-information img {
    height: 24px;
    width: 24px;
}

.itemcard-upgrade {
    display: grid;
    grid-template-columns: 30px 2fr 1fr;
    color: rgba(255, 255, 228, 0.678);
    margin-right: 0 !important;
}

.itemcard-upgrade :nth-child(3n) {
    text-align: right;
}